export HISTTIMEFORMAT="%d/%m/%y %T "
export PS1='\u@\h:\W \$ '
#export PS1='\''\[\e[01;33m\][\h \u:\[\e[01;34m\]\w\[\e[01;33m\]]\[\e[00m\]\$ '\''
eval `dircolors -b`
alias l='ls -CF'
alias la='ls -A'
alias ll='ls -alF'
alias ls='ls --color=auto'
source /etc/profile.d/bash_completion.sh
source /etc/profile
source /etc/bash_completion.d/{{ .AppName }}.bash

