## Service

## Quick start

```bash
cd {{ .AbsPath }}
```

Is first micro service

```bash
make init
```

Is not first micro service

```bash
make get
```

then

```bash
make protoc
make build
```


Start example server not support Consul

```bash
CONSUL_HTTP_ADDR=none ./{{ .AppName }} -vvvv
```

Start only Web Server and not support Consul

```bash
CONSUL_HTTP_ADDR=none ./{{ .AppName }} -vvvv --prom --no-grpc
```

Run example client not support Consul

```bash
./{{ .AppName }}  client -vvvv --address=localhost --notConsul --data ping
```

### Build Docker image

Modify **${HOME}/.netrc**

Change [Makefile](Makefile) GITLAB_GROUP/GITLAB_PROJECT to your value

```makefile
REPO_BASE_PATH ?= GITLAB_GROUP/GITLAB_PROJECT
```

For development in the first terminal

```bash
make build-docker
make serve
```

In the second terminal

```bash
make shell
export CONSUL_HTTP_ADDR=127.0.0.1:8500
./{{ .AppName }}  -vvvv client
```

## Application Publishing

```bash
make publish
```

### Docker Swarm mode

```bash
make push
```

Add sub command

```bash
cobra add <name> -l MIT
cobra add <name> -l MIT -p <parrent>
```
