{{ comment .Copyright }}
{{if .Licenses}}{{ comment .Licenses }}{{end}}

package cmd

import (
	"fmt"

	"github.com/spf13/cobra"
)

// versionCmd represents the version command
var versionCmd = &cobra.Command{
	Use:   "version",
	Short: "version {{ .ServiceName }}",
	Long: `version {{ .ServiceName }}.`,
	Run: func(cmd *cobra.Command, args []string) {
		fmt.Println("version:", ReleaseVersion)
	},
}

func init() {
	rootCmd.AddCommand(versionCmd)
}
